body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#wordDisplay {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#guessInput {
    padding: 10px;
    font-size: 1em;
    width: 50px;
    text-align: center;
}

#guessButton {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#guessButton:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #218838;
}
